*.asv
*.uff
*.mat
*.hdf5
*.h5
*.mp4
*.fig
*.mltbx
*.avi
*.pptx
*.png
*.obj
*.uff
*.bmp
*.gif
*.png
*.jpg
*.pdb
*.ilk
*.exp
*.lib
development/
log_*.txt
!multi_frame_gui.fig
!window.png
!*.keep_this_folder_in_git
*.eps
*.m~
